<div class="step-container">
    <h1 class="heading">How it Works</h1>
    <section class="steps">

        <div class="box">
            <img class="p-3" src="assets/step1.jpg" width="250px;" alt="">
            <h3>Search Domain Name</h3>
        </div>
        <div class="box">
            <img class="p-3" src="assets/step2.png" width="220px;" alt="">
            <h3>Choose Your Domain Name</h3>
        </div>
        <div class="box">
            <img class="p-3" src="assets/step3.jpg" width="260px;" alt="">
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <img class="p-3" src="assets/step4.jpg" width="270px;" alt="">
            <h3>and finally, Domain Name is your</h3>
        </div>
    
    </section>
</div>