<div class="d-flex justify-content-between mt-3">
    <div id="banner-text">
        Languages
    </div>
    <div>
        <div class="input-group">
            <select class="form-select">
                <option>English</option>
                <option>ಕನ್ನಡ(Kannada)</option>
                <option>தமிழ்(Tamil)</option>
                <option>മലയാളം(Malayalam)</option>
                 <option>मराठी(Marathi)</option>
                 <option>हिंदी(Hindi)</option>
            </select>
            
        </div>
    </div>
</div>
