<div>
    
<p class="text-center text-white bg-danger mb-0">Our mission is to make life easier for website developers and their customers. We do it by offering easy to use, fast and reliable web hosting services</p>
</div>
<footer>

    <div><a href="#"><b>HOSTING</b></a></div>
    <div><a href="#">Best Web Hosting</a></div>
    <div><a href="#">Cheap VPS Hosting</a></div>
    <div><a href="#">Minecraft Server Hosting</a></div>
    <div><a href="#">CyberPanel VPS Hosting</a></div>
  <div><a href="#">Cloud Hosting</a></div>
  <div><a href="#">WordPress Hosting</a></div>
  <div><a href="#">Email Hosting</a></div>
  <div><a href="#">CMS Hosting</a></div>
  <div><a href="#">Ecommerce Hosting</a></div>
  <div><a href="#">cPanel Hosting</a></div>
  <div><a href="#">Free Web Hosting</a></div>
  <div><a href="#">Online Stores</a></div>
  <div><a href="#">Website Builder</a></div>
  <div><a href="#">Buy Hosting</a></div>
  <div>&nbsp;</div>
  <div><a href="#"><b>COMPANY</b></a></div>
  <div><a href="#">About Towede</a></div>
  <div><a href="#">Customer Care</a></div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  


  <div><a href="#"><b>DOMAIN</b></a></div>
  <div><a href="#">Domain Name Search</a></div>
  <div><a href="#">Domain Transfer</a></div>
  <div><a href="#">Free Domain Name</a></div>
  <div><a href="#">XYZ Domain</a></div>
<div><a href="#">99 Rupees Domain</a></div>
<div><a href="#">Cheap SSL Certificate</a></div>
<div><a href="#">By Your Domain Today</a></div>
<div><a href="#">WHOIS Checker</a></div>
<div><a href="#">Free SSL Certificate</a></div>
<div><a href="#">cPanel Hosting</a></div>
<div><a href="#">Free Web Hosting</a></div>
<div><a href="#">Online Stores</a></div>
<div><a href="#">Website Builder</a></div>
<div><a href="#">Buy Hosting</a></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>



<div><a href="#"><b>HELP</b></a></div>
<div><a href="#">Report Online Abuse</a></div>
<div><a href="#">Knowledge Base</a></div>
<div><a href="#">Tutorial</a></div>
<div><a href="#">Blog</a></div>





<div><a href="#"><b>INFORMATION</b></a></div>
<div><a href="#">Server Status</a></div>
<div><a href="#">VPS Hosting list</a></div>
<div><a href="#">Reviews</a></div>
<div><a href="#">Payment Methods</a></div>
<div><a href="#">Rewards</a></div>
<div>&nbsp;</div>
<div>&nbsp;</div>








<div><a href="#"><b>LEGAL</b></a></div>
<div><a href="#">Privacy Policy</a></div>
<div><a href="#">Terms Of Service</a></div>

<div>&nbsp;</div>
<div class="btn">
  <a href="https://facebook.com/page/527" class="button">
  <i class ="fa fa-facebook" arial-hidden="true"></i></a>
  <a href="https://gmail.com/reachout@towede.net" class="button">
  <i class ="fa fa-envelope" arial-hidden="true"></i></a>
  <a href="https://twitter.com/towede_inc" class="button">
  <i class ="fa fa-twitter" arial-hidden="true"></i></a>
  <a href="#" class="button">
  <i class="fa fa-youtube" arial-hidden="true"></i></a> 
  <a href="#" class="button">
  <i class="fa fa-linkedin" arial-hidden="true"></i></a> 
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>


</footer>
 
<div class="text-center mt-0 bg-danger">&copy;Towede 2021</div>