<section class="review" id="review">

    <h1 class="heading"> our customers <span>reviews</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="assets/pic1.png" alt="">
            <h3>zoya khan</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Thoroughly tested and highly rated, these top web hosting services deliver the potent, flexible, and reliable feature sets needed to create attractive websites for business or personal use.!</p>
        </div>
        <div class="box">
            <img src="assets/pic2.png" alt="">
            <h3>John deo</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>"Towede is a web host and domain provider that offers multiple website plans and features. One of the largest domain-hosting companies, Towede also provides multiple add-on services and 24/7 customer support"</p>
        </div>
        <div class="box">
            <img src="assets/pic3.png" alt="">
            <h3>Zareen Sayyed</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>This web host was exactly what I needed. I’m trying to start a small business to make some extra income and this company has helped me out tremendously. They offer so many services and products that are very beneficial to someone starting out.</p>
        </div>

    </div>

</section>
